@using Trizen.Data.Base.ViewModel
@model AboutUsViewModel
@{
    ViewData["Title"] = Resource.AboutUs;
}

<!-- ================================
    START BREADCRUMB AREA
================================= -->

<section class="breadcrumb-area bread-bg-9">
    <div class="breadcrumb-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-content">
                        <div class="section-heading">
                            <h2 class="sec__title line-height-50 text-white">
                                Trizen.com همسفر مورد اعتماد
                                <br>شما در سفرهاتونه .
                            </h2>
                        </div>
                    </div><!-- end breadcrumb-content -->
                </div><!-- end col-lg-12 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end breadcrumb-wrap -->
    <div class="bread-svg-box">
        <svg class="bread-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none"><polygon points="100 0 50 10 0 0 0 10 100 10"></polygon></svg>
    </div><!-- end bread-svg -->
</section>
<!-- end breadcrumb-area -->
<!-- ================================
    END BREADCRUMB AREA
================================= -->
<!-- ================================
    START INFO AREA
================================= -->
<section class="info-area padding-top-100px padding-bottom-70px">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 responsive-column">
                <div class="card-item ">
                    <div class="card-img">
                        <img src="/Trizen/images/img21.jpg" alt="about-img">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title mb-2">ما کی هستیم؟</h3>
                        <p class="card-text">
                            تیم ما از یه سری جوون فعال ، ماهر و متخصص تشکیل شده که تمام تلاششون رو میکنن تا برای شما یه سفر خاطره انگیز بسازن  .
                        </p>
                    </div>
                </div><!-- end card-item -->
            </div><!-- end col-lg-4 -->
            <div class="col-lg-4 responsive-column">
                <div class="card-item ">
                    <div class="card-img">
                        <img src="/Trizen/images/img22.jpg" alt="about-img">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title mb-2">چیکار میکنیم؟</h3>
                        <p class="card-text">
                            سایت Trizen یه سایت کامللله برای خرید بلیط هواپیما ، رزرو تور ،رزرو خودرو ، رزرو هتل و هرچیزی که برای یه مسافرت عالی و به یاد موندنی لازم دارین .
                        </p>
                    </div>
                </div><!-- end card-item -->
            </div><!-- end col-lg-4 -->
            <div class="col-lg-4 responsive-column">
                <div class="card-item ">
                    <div class="card-img">
                        <img src="/Trizen/images/img23.jpg" alt="about-img">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title mb-2">وظیفه ما</h3>
                        <p class="card-text">
                            وظیفه ما اینه که تمم تلاشمون رو بکنیم تا مشتری هامون تنها دغدغه شون لذت بردن از مسافرتشون باشه !
                        </p>
                    </div>
                </div><!-- end card-item -->
            </div><!-- end col-lg-4 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>
<!-- end info-area -->
<!-- ================================
    END INFO AREA
================================= -->
<!-- ================================
    START ABOUT AREA
================================= -->
<section class="about-area padding-bottom-90px overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading margin-bottom-40px">
                    <h2 class="sec__title">درباره ما</h2>
                    <h4 class="title font-size-16 line-height-26 pt-4 pb-2">از سال 1404، TRIZEN انقلابی در صنعت سفر ایجاد کرده. متاجستجو برای سفر؟ هیچ کس این کار رو نمی کرد، تا اینکه ما این کار رو کردیم و راهش انداختیم.</h4>
                    <p class="sec__desc font-size-16 pb-3">یک واقعیت ثابت شده برای مدت طولانی وجود دارد که محتوای قابل خواندن یک صفحه، تمرکز خواننده را از تمرکز بر شکل بیرونی متن یا شکل پاراگراف های قرار داده شده در صفحه ای که می خواند، منحرف می کند. نکته استفاده از لورم ایپسوم این است که توزیع نسبتاً معمولی کاراکترها را دارد، به جای استفاده از "اینجا محتوای متنی وجود دارد، اینجا محتوای متنی وجود دارد"، که آن را شبیه به انگلیسی خواندنی می کند.</p>
                    <p class="sec__desc font-size-16 pb-3">بسیاری از بسته های انتشارات دسکتاپ و ویرایشگرهای صفحه وب اکنون از لورم ایپسوم به عنوان متن فرم پیش فرض استفاده می کنند و جستجوی "لورم ایپسوم " وب سایت های بسیاری را که هنوز در مراحل اولیه خود هستند نشان می دهد.</p>
                    <p class="sec__desc font-size-16">چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
                </div><!-- end section-heading -->
            </div><!-- end col-lg-6 -->
            <div class="col-lg-5 ml-auto">
                <div class="image-box about-img-box">
                    <img src="/Trizen/images/img24.jpg" alt="about-img" class="img__item img__item-1">
                    <img src="/Trizen/images/img25.jpg" alt="about-img" class="img__item img__item-2">
                </div>
            </div><!-- end col-lg-5 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>
<!-- end about-area -->
<!-- ================================
    END ABOUT AREA
================================= -->
<!-- ================================
    STAR FUNFACT AREA
================================= -->
<section class="funfact-area padding-bottom-70px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading text-center">
                    <h2 class="sec__title">لازم نیست حرفی بزنیم رزومه ما همه چیز رو میگه.</h2>
                </div><!-- end section-heading -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
        <div class="counter-box counter-box-2 margin-top-60px mb-0">
            <div class="row">
                <div class="col-lg-3 responsive-column">
                    <div class="counter-item counter-item-layout-2 d-flex">
                        <div class="counter-icon flex-shrink-0">
                            <i class="la la-users"></i>
                        </div>
                        <div class="counter-content">
                            <div>
                                <span class="counter" data-from="0" data-to="@Model.UsersCounts" data-refresh-interval="1">@Model.UsersCounts</span>
                            </div>
                            <p class="counter__title">کاربران ما</p>
                        </div><!-- end counter-content -->
                    </div><!-- end counter-item -->
                </div><!-- end col-lg-3 -->
                <div class="col-lg-3 responsive-column">
                    <div class="counter-item counter-item-layout-2 d-flex">
                        <div class="counter-icon flex-shrink-0">
                            <i class="la la-building"></i>
                        </div>
                        <div class="counter-content">
                            <div>
                                <span class="counter" data-from="0" data-to="@Model.ToursCounts" data-refresh-interval="1">@Model.ToursCounts</span>
                            </div>
                            <p class="counter__title">تور</p>
                        </div><!-- end counter-content -->
                    </div><!-- end counter-item -->
                </div><!-- end col-lg-3 -->
                <div class="col-lg-3 responsive-column">
                    <div class="counter-item counter-item-layout-2 d-flex">
                        <div class="counter-icon flex-shrink-0">
                            <i class="la la-globe"></i>
                        </div>
                        <div class="counter-content">
                            <div>
                                <span class="counter" data-from="0" data-to="@Model.DestinationsCounts" data-refresh-interval="1">@Model.DestinationsCounts</span>
                            </div>
                            <p class="counter__title">مکان توریستی</p>
                        </div><!-- end counter-content -->
                    </div><!-- end counter-item -->
                </div><!-- end col-lg-3 -->
                <div class="col-lg-3 responsive-column">
                    <div class="counter-item counter-item-layout-2 d-flex">
                        <div class="counter-icon flex-shrink-0">
                            <i class="la la-check-circle"></i>
                        </div>
                        <div class="counter-content">
                            <div>
                                <span class="counter" data-from="0" data-to="@Model.TravelsCounts" data-refresh-interval="1">@Model.TravelsCounts</span>
                            </div>
                            <p class="counter__title">رزرو آنلاین</p>
                        </div><!-- end counter-content -->
                    </div><!-- end counter-item -->
                </div><!-- end col-lg-3 -->
            </div><!-- end row -->
        </div><!-- end counter-box -->
    </div><!-- end container -->
</section>

<!-- ================================
    END FUNFACT AREA
================================= -->
<!-- ================================
    START INFO AREA
================================= -->
<section class="info-area padding-top-100px padding-bottom-60px text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2 class="sec__title">متخصصان تیم ما</h2>
                </div><!-- end section-heading -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
        <div class="row padding-top-100px">
            @foreach (var item in Model.Team)
            {
                <div class="col-lg-4 responsive-column">
                    <div class="card-item team-card">
                        <div class="card-img">
                            <img src="@item.Image" alt="@item.FullName" title="@item.FullName">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">@item.FullName</h3>
                            <p class="card-meta">@item.Position</p>
                            <p class="card-text font-size-15 pt-2">@item.Description</p>
                            <ul class="social-profile padding-top-20px pb-2">
                                @if (item.Instagram.IsNotEmpty())
                                {
                                    <li><atarget ="_blank" href="@item.Instagram"><i class="fas fa-instagram"></i></atarget></li>
                                }

                                @if (item.LinkedIn.IsNotEmpty())
                                {
                                    <li><a target="_blank" href="@item.LinkedIn"><i class="fas fa-linkedin"></i></a></li>
                                }

                                @if (item.PhoneNumber.IsNotEmpty())
                                {
                                    <li><a target="_blank" href="tell:@item.PhoneNumber"><i class="fas fa-phone"></i></a></li>
                                }

                                @if (item.Telegram.IsNotEmpty())
                                {
                                    <li><a target="_blank" href="@item.Telegram"><i class="fas fa-telegram"></i></a></li>
                                }

                                @if (item.Website.IsNotEmpty())
                                {
                                    <li><a target="_blank" href="@item.Website"><i class="fas fa-chrome"></i></a></li>
                                }

                                @if (item.Whatsapp.IsNotEmpty())
                                {
                                    <li><a target="_blank" href="@item.Whatsapp"><i class="fas fa-whatsapp"></i></a></li>
                                }
                                @if (item.Email.IsNotEmpty())
                                {
                                    <li><a target="_blank" href="mailto:@item.Email"><i class="fas fa-envelope"></i></a></li>
                                }
                            </ul>
                        </div>
                    </div><!-- end card-item -->
                </div>

                <!-- end col-lg-4 -->
            }
        </div><!-- end row -->
    </div><!-- end container -->
</section>

<!-- end info-area -->
<!-- ================================
    END INFO AREA+
================================= -->
