@using Trizen.Data.Base.ViewModel
@using Trizen.Data.Destination.Dto
@using Trizen.Data.Destination.ViewModel
@using Trizen.Data.Tour.ViewModel
@using Trizen.Infrastructure.Enumerations
@model SearchDestinationDto

@{
    ViewData["Title"] = Resource.Destination;
}

<!-- ================================
    START HERO-WRAPPER AREA
================================= -->
<section class="hero-wrapper hero-wrapper3 bread-bg">
    <div class="hero-box pb-0 ripple-bg bg-fixed">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-content pb-5 hero-content-3 text-center">
                        <div class="section-heading">
                     
                                <h2 class="sec__title text-white">مقصد</h2>
                        </div>
                    </div><!-- end hero-content -->
                    <div class="search-fields-container search-fields-container-shape">
                        <div class="search-fields-container-inner">
                            <form method="get" class="contact-form-action" asp-controller="Destinations" asp-action="Index">
                                <div class="row">
                                    <div class="col-lg-4 pr-0">
                                        <div class="input-box">
                                            <label class="label-text" asp-for="Title"></label>
                                            <div class="form-group">
                                                <span class="la la-i-cursor form-icon"></span>
                                                <input class="form-control" asp-for="Title" placeholder="اسمش چیه؟">
                                            </div>
                                        </div>
                                    </div><!-- end col-lg-4 -->
                                    <div class="col-lg-4 pr-0">
                                        <div class="input-box">
                                            <label class="label-text" asp-for="DestinationTypeId"></label>
                                            <div class="form-group">
                                                <span class="la la-map-marker form-icon"></span>
                                                <select class="form-control" asp-for="DestinationTypeId">
                                                    <option value="">
                                                        @Resource.PleaseSelect
                                                    </option>
                                                    @foreach (ListViewModel item in ViewBag.DestinationTypes.Data)
                                                    {
                                                        <option value="@item.Id">
                                                            @item.Title
                                                        </option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div><!-- end col-lg-4 -->
                                </div>
                                <div class="btn-box pt-3">
                                    <button type="submit" class="theme-btn">حالا بگرد</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div><!-- end col-lg-12 -->
            </div><!-- end row -->
        </div><!-- end container -->
        <svg class="hero-svg" viewBox="0 0 500 150" preserveAspectRatio="none"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"></path></svg>
    </div>
</section><!-- end hero-wrapper -->
<!-- ================================
    END HERO-WRAPPER AREA
================================= -->

<!-- ================================
    START DESTINATION AREA
================================= -->
<section class="destination-area section--padding">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.Destinations)
            {
                <div class="col-lg-4 responsive-column">
                    <div class="card-item destination-card">
                        <div class="card-img">
                            <img src="@item.Image" alt="@item.Title" title="@item.Title">
                            <span class="badge">@item.DestinationTypeTitle</span>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title"><a asp-controller="Destinations" asp-action="Details" asp-route-id="@item.Id">@item.Title</a></h3>
                         
                            <div class="card-price d-flex align-items-center justify-content-between">
                                <p class="tour__text">
                                    @item.ToursCount تور
                                </p>
                            </div>
                        </div>
                    </div><!-- end card-item -->
                </div>

                <!-- end col-lg-4 -->
            }
        </div><!-- end row -->
    </div><!-- end container -->
</section>

<!-- end destination-area -->
<!-- ================================
    END DESTINATION AREA
================================= -->
